table {
    border-collapse: collapse;
  }

  body{
    margin: 10;
    padding: 50;
    font-family: sans-serif;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  th{
      font-size: 45px;
      margin: 25px 50px 75px 100px;
  }

  td{
    font-family: sans-serif;
    padding: 0 30px;
  }

  tr{
      text-align: justify;
      padding: 50 0px;
      font-family: sans-serif;
